body {
    background-color: rgba(201, 125, 102, 0.932);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(245, 218, 184);
    font-size: 40px;
    text-align: center;
    display: block;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(245, 218, 184);
    font-size: 25px;
    display: block;
}

table {
    font-size: 14px;
    border: 0.1em solid black;
}

td {
    text-align: center;
    padding: 0.3em;
    border: 0.1em solid black;
}

th {
    padding: 0.5em;
    border: 0.1em solid black;
    font-weight: bold;
}

.stores {
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
    width: 200px;
    height: 200px;
}

.stores h3 {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#logo {
    display: inline-block;
    width: 100%;
    margin: auto;
    border: 0.1px solid black;
    padding: 0px, 50px;
}

#store-info-left {
    padding: 5px;
    float: left;
}

#store-info-left li {
    padding: 15px;
}

#store-info-right {
    padding: 5px;
}

#store-info-right li {
    padding: 10px;
}