body {
    background-color: rgba(201, 125, 102, 0.932);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(245, 218, 184);
    font-size: 40px;
    text-align: center;
    display: block;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(245, 218, 184);
    font-size: 25px;
    display: block;
}

table {
    font-size: 14px;
    border: 0.1em solid black;
}

td {
    text-align: center;
    padding: 0.3em;
    border: 0.1em solid black;
}

th {
    padding: 0.5em;
    border: 0.1em solid black;
    font-weight: bold;
}

#logo {
    display: inline-block;
    width: 90%;
    margin: auto;
    border: 0.1px solid black;
}